<%= render "navbar-one"  %>
<section class="home">
  <div id="tsparticles" >
    <div class="title">
      <h1>Front End Web Developer</h1>
      <h2>Gareth Cary</h2>
      <br>
      <a href="#">Hover Me</a>
    </div>
  </div>

  <div class="title-programs">
    <h2>Codding languages I can write in</h2>
  </div>


<div class="swiper-container container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= image_tag("html.png")%></div>
        <div class="swiper-slide"><%= image_tag("css.png")%></div>
        <div class="swiper-slide"><%= image_tag("javascript.png")%></div>
        <div class="swiper-slide"><%= image_tag("jquery.png")%></div>
        <div class="swiper-slide"><%= image_tag("ruby.png")%></div>
        <div class="swiper-slide"><%= image_tag("rails.png")%></div>
        <div class="swiper-slide"><%= image_tag("php.png")%></div>
        <div class="swiper-slide"><%= image_tag("sql.png")%></div>
        <div class="swiper-slide"><%= image_tag("wordpress.png")%></div>
        <div class="swiper-slide"><%= image_tag("photoshop.png")%></div>
        <div class="swiper-slide"><%= image_tag("figma.png")%></div>
        <div class="swiper-slide"><%= image_tag("git.png")%></div>
        <div class="swiper-slide"><%= image_tag("github.png")%></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 6,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</section>
  <%= javascript_pack_tag 'particles' %>



